/* Add styles here */

:root {
    --primary: #f49600;
    --primary-dark: #e58728;
    --dark: #121212;
}

@layer base {
    html {
        font-family: "Maven Pro", system-ui, sans-serif;
    }
}

a.link {
	text-decoration: none;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        background-color: var(--primary);
        opacity: 0.5;
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 8px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    
    &:hover::before {
        bottom: 0;
        height: 100%;
    }
}


.font-maven {
    font-family: "Maven Pro", system-ui, sans-serif;
}

.bg-primary {
    background: var(--primary-dark);
}

.text-primary {
    color: var(--primary);
}

.fill-primary {
    fill: #f49600;
    color: var(--primary)
}

.text-primary-dark {
    color: var(--primary-dark);
}

img.featured-image {
    aspect-ratio: 1024/683;
    object-fit: cover;
}

.border-radius-header {
    border-radius: 0 0 75px 0;
}

button.layout-selector.active {
    background-color: var(--primary-dark);
}

.warning {
    color: yellow !important;
    border-color: yellow !important;
}

.list-icon li::before {
    /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'%3E%3C/path%3E%3C/svg%3E"); */
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='%23f49600' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'%3E%3C/path%3E%3C/svg%3E");
    color: var(--primary);
    fill: var(--primary);
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .border-radius-header {
        border-radius: 0 0 150px 0;
    }
}

@media (min-width: 1320px) {
    .border-radius-header {
        border-radius: 0 0 300px 0;
    }
}

.button-primary {
    background-color: var(--primary);
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

@media print {
    .noprint {
        display: none !important;
    }

    .container {
        box-shadow: none !important;
        border: none !important;
    }

    .shadow-lg {
        box-shadow: none !important;
    }
}

#card {
    transition: all 250ms ease-in-out;
    display: flex;

    .col-1, .col-2 {
        text-align: center;
        padding: 0.5rem;
    }

    #qrcode {
        max-width: 80%;
        margin: 0 auto;
    }
}

.layout1 {
    width: 3.5in !important;
    height: 2in !important;

    .col-1 {
        width: 60%;
        border-right: 1px solid var(--dark);
        border-bottom: 1px solid var(--dark);
        display: flex;
        align-items: center;
    }

    .col-2 {
        flex: 1 1 40%;
        width: 40%;
        border-bottom: 1px solid var(--dark);
        padding: 0.5rem;

        .displayCta {
            text-align: center;
            font-size: 12px;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        text-align: left;
        margin-right: 1rem;
    }

    .displayQrcode {
        max-height: 75px;
    }

    .displayLogo {
        max-height: 20px;
        margin-top: 0.5rem;
    }
}

.layout2 {
    width: 2in !important;
    height: 3.5in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 36px);
    }

    .col-1, .col-2 {
        border-bottom: 1px solid black;
        padding: 0.5rem 0;
        flex: 1;
        width: 100%;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }

    .displayCta {
        text-align: center;
        font-size: 12px;
    }

    .displayQrcode {
        height: 100px;
    }

    .displayLogo {
        max-width: 95%;
        max-height: 30px;
        margin: 0.5rem auto;
    }
}

.layout3 {
    width: 5in !important;
    height: 7in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & > .flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 58px);
    }

    .col-1, .col-2 {
        border-bottom: 1px solid black;
        padding: 1rem 0;
        flex: auto;
        width: 100%;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-top: 1rem;
    }

    .displayCta {
        text-align: center;
        font-size: 14px;
    }

    .displayLogo {
        max-width: 95%;
        max-height: 50px;
        margin: 0.5rem auto;
    }
}

@media print {
    .layout1 {
        min-width: 3.5in !important;
        width: 3.5in !important;
        height: 2in !important;
    }
    
    .layout2 {
        min-width: 2in !important;
        width: 2in !important;
        height: 3.5in !important;
    }

    .layout3 {
        min-width: 5in !important;
        width: 5in !important;
        height: 7in !important;
    }
}