/* Add styles here */

:root {
    --primary: #d01d89;
    --primary-dark: #a30a64;
    --dark: #121212;
}

@layer base {
    html {
        font-family: "Maven Pro", system-ui, sans-serif;
    }
}

.font-maven {
    font-family: "Maven Pro", system-ui, sans-serif;
}

.bg-primary {
    background: var(--primary-dark);
}

.text-primary {
    color: var(--primary);
}

img.featured-image {
    aspect-ratio: 1024/683;
    object-fit: cover;
}

.border-radius-header {
    border-radius: 0 0 75px 0;
}

button.layout-selector.active {
    background-color: var(--primary-dark);
}

.warning {
    color: yellow !important;
    border-color: yellow !important;
}

@media (min-width: 768px) {
    .border-radius-header {
        border-radius: 0 0 150px 0;
    }
}

@media (min-width: 1320px) {
    .border-radius-header {
        border-radius: 0 0 300px 0;
    }
}

.button-primary {
    background-color: var(--primary);
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

@media print {
    .noprint {
        display: none;
    }
}

#card {
    transition: all 250ms ease-in-out;
    display: flex;

    .col-1, .col-2 {
        text-align: center;
        padding: 0.5rem;
    }

    #qrcode {
        max-width: 80%;
        margin: 0 auto;
    }
}

.layout1 {
    width: 3.5in !important;
    height: 2in !important;

    .col-1 {
        width: 66.66%;
        border-right: 1px solid var(--dark);
        border-bottom: 1px solid var(--dark);
    }

    .col-2 {
        flex: 1 1 33.33%;
        width: 33.33%;
        border-bottom: 1px solid var(--dark);
    }

    h2 {
        font-size: 28px;
        line-height: 1.2;
    }

    #qrcode {
        max-width: 60%;
    }

    #displayLogo {
        max-height: 20px;
    }
}

.layout2 {
    width: 2in !important;
    height: 3.5in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 28px;
        line-height: 1.2;
    }
}

.layout3 {
    width: 5in !important;
    height: 7in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}