/* Add styles here */

:root {
    --primary: #d01d89;
    --primary-dark: #a30a64;
}

@layer base {
    html {
        font-family: "Maven Pro", system-ui, sans-serif;
    }
}

.font-maven {
    font-family: "Maven Pro", system-ui, sans-serif;
}

.bg-primary {
    background: var(--primary-dark);
}

.text-primary {
    color: var(--primary);
}

.border-radius-header {
    border-radius: 0 0 75px 0;
}

@media (min-width: 768px) {
    .border-radius-header {
        border-radius: 0 0 150px 0;
    }
}

@media (min-width: 1320px) {
    .border-radius-header {
        border-radius: 0 0 300px 0;
    }
}

.button-primary {
    background-color: var(--primary);
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: var(--primary-dark);
    }
}

@media print {
    .noprint {
        display: none;
    }
}

#qrcode {
    max-width: 80%;
}

#card {
    transition: all 250ms ease-in-out;
}

.layout1 {
    width: 3.5in !important;
    height: 2in !important;

    .credit {
        font-size: 10px;
    }
}

.layout2 {
    width: 2in !important;
    height: 3.5in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .credit {
        display: none;
    }
}

.layout3 {
    width: 5in !important;
    height: 7in !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}